---
title: Home
heading: 'AnshumanDubey.Org'
lead: Welcome to my blog!
---
<div class="jumbotron">
  <h1>{{ heading }}</h1>
  <p>TEEEEEEESTTTTTTESTTESTESTESTESTETSTETETSTETSTETS</p>
  <p><a href="blog.html" class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>
</div>
